*{
    background-color: #070D1f;
    color: white;
}
.first{
    background-image: url("./Images/pizzahome1.jpg");
    height: 500px;
    background-size: cover;
    text-align: center;
}
.hub{
margin-left: 17%;
background-color: transparent;
}
.crust{
margin-top: 10%;
background-color: transparent;
margin-right:13% ;
/* font-weight: bolder; */
font-size: 25px;
}
.about{
    display: flex;
    /* margin: 30px; */
}
.us{
    display:inline-block;
    margin: 20px;
}
.image{
    height: 350px;
    margin: 50px;
}
.offer{
    text-align: center;
    background-image: url("./Images/fadedinpizza.jpeg");
    height: 100px;
    
}
.offer h2{
    background-color: transparent;
    color:green;
}
.pass{
    display: flex;
}
.word{
    display: flex;
}
.mage{
    width: 300px;
    height: 200px;
    /* padding: 10px; */
    margin: 60px;
}
.five{
    text-align: center;
    padding: 30px;
}
.pizzasize , .order-form{
    padding: 20px;
}
.btn{
    height: 40px;
    background-color: blue;
    color: white;
    margin: 30px;
}
.btn:hover{
    background-color: turquoise;
}
.check{
    height: 40px;
    background-color: blue;
    color: white;
    margin: 30px;
}
.contact{
    text-align: center;
}
/* .cart{ */
    /* margin: 40px; */
/* } */
tr, th{
    padding: 30px;
}