*{
    background-color: #070D1f;
    color: white;
}
.first{
    background-image: url("./Images/pizza1.jpg");
    height: 300px;
    background-size: cover;
    text-align: center;
}
.hub{
margin-left: 17%;
}
.crust{
margin-top: 10%;
}
.about{
    display: flex;
    margin: 60px;
}
.image{
    height: 350px;
    margin: 50px;
}
.offer{
    text-align: center;
    background-image: url("./Images/fadedinpizza.jpeg");
    height: 100px;
}
.pass{
    display: flex;
}
.word{
    display: flex;
}
.mage{
    width: 300px;
    height: 200px;
    /* padding: 10px; */
    margin: 60px;
}
.five{
    text-align: center;
    padding: 30px;
}
.pizzasize , .order-form{
    padding: 20px;
}