*{
    background-color: #070D1f;
}
.first{
    background-image: url("./Images/pizza2.jpg");
    height: 300px;
    background-size: cover;
    text-align: center;
    color: rgb(253, 250, 250);
}
.hub{
margin-left: 17%;
}
.crust{
margin-top: 10%;
}